<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# Jupyter Notebook for data science

**This notebook has details about data science tools,languages, libraries**

### Data Science Languages 
- Python
- SQL
- Julia
- Java Script
- Scala
- R
- Java

### Data Science Libraries 
- scikit learn
- Pytorch
- chainer
- Pandas
- NetworkX

### Data Science Tools 

|Data Science Tools|
|---------|
|Matlab|
|Apache Flink|
|SAS|
|KNIME|
|Apache Spark|

### Introduction to Arithmetic Expression (Eg: Sum of 2 numbers, product of 2 numbers etc)

#### Evaluating arithmetic expression

In [11]:
(12+8)*15

300

#### Converting minutes to hours- (Converting 150 minutes to hours)

In [10]:
150/60

2.5

## Objectives:

1. First cell - Title of notebook
2. Second cell- Introduction
3. Third Cell - List of Data Science Languages
4. Fourth Cell - List of Data Science Libraries
5. Fifth Cell - Table of Data Science tools
6. Sixth cell - Heading "Introduction to Arithmetic Expression"
7. Seventh cell - Evaluating arithmetic expression
8. Eighth cell - converting minutes to hours

 #### Author's Name : Arathi PV